@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
    --orange: #ffa500;
    --gray : rgb(240 244 243);
}
body{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: "Poppins", sans-serif;
    list-style: none;
    align-items: center;

}
.nav{
    width: 10%;
    position: fixed;
    left: 0px;
    height: 100vh;
    top: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
}
.above,.under{
    width: 0rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;    
    margin-left: 1rem
 
}
.above{
    height: 77%;

}
.above ul{
    border-top-left-radius:.5rem;
    border-top-right-radius: .5rem;
    background-color: #303b47;
}
.under{
    height: 18%;
}
.under ul{
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: #303b47;
}
ul{
    list-style: none;
    width: 4.5rem;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .4s ease-out;
}
 ul li{
    margin-top: 2rem;
    margin-left: 1rem;
    padding: .7rem 0rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;

}
.active{
    background-color: white !important;
    color: black !important;
}
.active a{
    color: black;
}
 ul li a{
    color: white;
    width: 11rem;
    font-weight: 600;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
ul li.active b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: calc(100% - 8px);
    background-color: white;
    
}
ul li.active b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #303b47;
    border-bottom-right-radius: 1rem;
}
ul li.active b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: calc(100% - 8px);
    background-color: white;
}
ul li.active b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #303b47;
    border-top-right-radius: 1rem;
}
ul li a i{
    width: 30%;
    padding-left: 1rem;
   
}
ul li a span{
    width: 70%;
}
.main{
    width: 60%;
    height: 100vh;
}

.id-card{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 97vh;
    position: fixed;
    right: 1rem;
    background-color: #303b47;
    border-radius: 2rem;
}
.placeholder{
    width: 30%;
    height: 100vh;
}
.user-img{
    margin-top: 2rem;
    width: 6.5rem;
    height: 6.5rem;
    border: 0PX SOLID white;
    border-radius: 50%;
    outline-offset: 8px;
    outline: 4px solid var(--orange);
    
}
.user-img img{
    max-width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}
.user-name{
    color: white;
    margin-top:1.5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    /* font-weight: 600; */
}
.user-name span{
    font-size: 1rem;
    font-weight: 100;
    opacity: .5;

}
.contact{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}
.contact p{
    margin: 0;
    font-size: 1.1rem;
}
.contact-info{
    width: 100%;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact-info label{
    letter-spacing: 1.1px;
    font-size: .7rem;
    opacity: .5;
}
.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.info span:nth-child(1){
    max-width: 70%;
    font-size: .9rem;
}
.info i{
    text-align: right;
    padding: .4rem;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius:.2rem ;
} 
.charts{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.charts-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: WHITE;
}
.charts-head select{
    background-color: transparent;
    color: white;
    padding: 0.2rem;
    border: none;
    opacity: .5;
    outline: none;
    cursor: pointer;
}
.keys{
    display: flex;
    font-size: .7rem;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.dot::before{
    margin-right: .4rem;
    display: inline-block;
    content: '';
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: red;

}
.statistiques{
    width: 100%;
    margin-top: .6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tower{
    width: 4rem;
    margin-right: .3rem;
    margin-top: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tower .chart{
    height:8rem;
    width: .4rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.301) ;
    border-radius: .2rem ;
    position: absolute;
    
}
.planned,.Canceled,.booked{
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: inherit;
}
.planned{
    height: 80%;
    background-color: white;
}
/* IN THE JS YOU HAVE TO ADD THE CANCELD TO PLANNED AND BOOKED  */
.Canceled{
    height: 40%;
    background-color: yellow;

}
.booked{
    height: 60%;
    background-color: aqua;
}

.day{
    color: white;
    margin-top: .3rem;
    font-size: .7rem;
    position: absolute;
    bottom: 7PX;
}
